:root {
  --primary: #7d0a0a;
  --secondary: #bf3131;
  --third: #ead196;
  --fourth: #f3edc8;
}

#results > p {
  color: var(--primary);
  text-align: center;
  font-size: large;
}

#search {
  display: flex;
  margin: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  justify-content: center;
  align-items: center;
}

#frm-search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 2rem;
  gap: 1rem;
  background-color: var(--primary);
}

#txt-search,
#btn-search {
  font-size: medium;
}

#txt-search {
  background-color: var(--fourth);
  color: var(--primary);
  width: 40vw;
  max-width: 512px;
  border: 2px solid var(--third);
  padding: 10px 15px 10px 16px;
  border-radius: 2rem;
}

#txt-search:focus {
    outline: none;
  border-color: var(--secondary);
  box-shadow: 0px 0px 10px var(--secondary);
}

#btn-search {
  background-color: var(--secondary);
  border-radius: 2rem;
  border: 2px solid var(--third);
  color: var(--third);
  font-size: medium;
  padding: 10px 1rem 10px 1rem;
  cursor: pointer;
  transition: all ease-in-out 250ms;
}

#btn-search:hover {
  background-color: var(--fourth);
  border-color: var(--secondary);
  color: var(--secondary);
}
